* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.side-nav-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(192, 214, 252);
	overflow-x: hidden;
	padding-top: 20px;
	color: black;
	text-align: center;
	padding: 100px 10px 10px;
	box-shadow: 0 35px 20px #777;
}

h1 {
	font-family: 'Architects Daughter', cursive;
	letter-spacing: 10px;
}

.nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	list-style: none;
}

.nav li {
	margin: 50px 0;
}

.nav a:hover {
	background: black;
	color: white;
	padding: 10px 30px;
}

a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Architects Daughter', cursive;
	letter-spacing: 10px;
	transition: all 0.25s ease-in-out;
}

a:visited {
	color: black;
	text-decoration: none;
}

.IWD a {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	letter-spacing: 0px;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1em;
	padding-left: 350px;
	padding-right: 30px;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.9);
}

img {
	width: 100%;
	height: auto;
}

.landscape {
	grid-column: span 3;
}

@media (max-width: 1383px) {
	.landscape {
		grid-column: span 2;
	}
}

@media (max-width: 1068px) {
	.landscape {
		grid-column: span 1;
	}
}

@media (max-width: 688px) {
	.side-nav-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 10px 0 30px 0;
		width: auto;
		position: static;
		box-shadow: 0 1px 4px rgba(255, 255, 255, 1), 0 0 40px rgb(255, 255, 255) inset;
	}

	.nav ul {
		flex-direction: row;
	}
	.nav li {
		margin: 20px 50px;
	}

	.IWD a {
		display: none;
	}

	.container {
		padding: 50px 20px 50px 20px;
	}

	.landscape {
		grid-column: span 2;
	}
}

@media (max-width: 655px) {
	.landscape {
		grid-column: span 1;
	}
}

.modal {
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: 0.25s ease-out;
}

.modal.open {
	opacity: 1;
	pointer-events: all;
}

.full-img {
	position: absolute;
	height: auto;
	max-width: 1000px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.4);
	transition: all 0.25s ease-out;
}

.full-img.open {
	transform: translate(-50%, -50%) scale(0.6);
}

.full-img-landscape.open-landscape {
	transform: translate(-50%, -50%) scale(1.4);
}

.modal p {
	color: white;
	font-size: 2rem;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -5%);
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
